@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-stack: Helvetica, sans-serif;

$font-stack-body: "Noto Serif", serif;
$font-stack-headings: "Montserrat", Helvetica, sans-serif;

$light-blue: #4093bb;
$dark-blue: #24242c;
$white: #f8f4f2;

$code-radius: 8px;

$width: 42rem;
$padding: 1.3125rem;
