@import "../styles/variables.scss";

// Layout
.layout {
}
.pageContainer {
    position: relative;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
    padding-left: $padding;
    padding-right: $padding;
    padding-bottom: 0;
}

.contentWrap {
    padding-bottom: 2.5rem;
}

// Header
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.625rem;
    color: $dark-blue;
    h1 {
        color: $dark-blue;
        margin: 0;
        margin-bottom: 4px;
    }

    h1:first-of-type {
        margin-bottom: 4px;
        color: $light-blue;
    }
    margin-bottom: 1rem;
}

.title {
    flex: 1;
}

.pageLink {
    padding-left: 0.75rem;
}

// Footer
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // width: $width - $padding - $padding;
    height: 2.5rem;
    padding-left: $padding;
    padding-right: $padding;

    .footerInner {
        display: flex;
    }
}

.left {
    // display: flex;
}

.right {
    flex: 1;
    text-align: right;
}
